<h1>Edit <%= @movie.name %></h1>

<form action="/movies/<%= @movie.slug %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label for="name">Name</label>
  <input type="text" name="movie[name]" id="name" value="<%= @movie.name %>">

  <label for="User Name"> User Name </label>
  <input type="text" name="User Name" value="<%= @movie.user.name %>" > </br>

  <% Genre.all.each do |genre| %>
    <label><%= genre.name %></label>
    <input type="checkbox" name="genres[]" value="<%= genre.id %>" id="<%= genre.name %>" <%='checked' if @movie.genres.include?(genre) %>>
  <% end %>

  <input type="submit" value="Save">
</form>
