<div class="row">
  <h1 class='col-sm-10'>Movies</h1>
  <a href="/movies/new"><input type='submit' class="a_btn" value="Add Movie"></a>
</div>

<% if @movies.size != 0 %>
<div class="row">
  <% @movies.each do |movie| %>
  <div class="col-sm-4 movie-poster">
    <h3>Movie Title: <br>
      <a href="/movies/<%=movie.slug%>"> <%= movie.name %></a></h3>
    <p> added by:
    <% if movie.user.id == current_user.id%>
    <a href="/users/<%=movie.user.slug%>">You</a>
      <% else %>
      <a href="/users/<%=movie.user.slug%>"><%= movie.user.name %></a>
      <%end%>
    </p>
    </div>
    <% end %>
  <% end %>

  <style>
  .movie-poster{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 2px;
    background-color: rgba(193, 219, 245, 0.2);
  }

  .movie-poster:hover {
    background-color: rgba(193, 219, 245, 1);
    box-shadow: 10px 5px 5px grey;
  }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.a_btn{
  display: inline;
  width: 100px;
  color: green;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(81, 249, 165, 0.3);
}
  </style>
